# Miscellaneous & System
*.class
*.log
*.pyc
*.swp
.DS_Store
**/.DS_Store
Thumbs.db
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.zip

# IntelliJ / Android Studio / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub / Build Output
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# CocoaPods & Swift Package Manager
**/Pods/
**/.swiftpm/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Local Keystore Decodes (Keep base64 for CI/CD)
/android/app/debug.keystore
!/android/app/debug.keystore.b64

# Android Build Artifacts
/android/app/debug
/android/app/profile
/android/app/release
